html body { 
  background: url(img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.picture img {
	height:200px;
	width: 300px;
	margin-top: 30px;
}

.form-group {
	width:300px;
}

.subtitle{
	text-align: center;
	font-size: 20px;
	font-family: "Ostrich Sans Black", Helvetica;
	color: white;
}

h1 {
	text-align: center;
	font-size: 84px;
	font-family: "Ostrich Sans Inline", Helvetica;
	color: white;
}

.navigation {
	text-align: center;
}

.signup {
	margin-top: 40px;
	margin-left: 50px;
	font-size:25px;
	color:	#f2a400;
}

.contact {
	font-size:20px;
	font-weight: bold;
}

